---
import { FOOTER_SIGN_OFF } from '../config';
---

<footer>
  <div class="site-wrapper">
    <!-- Edit FOOTER_SIGN_OFF in src/config.ts to change this text -->
    <p>{FOOTER_SIGN_OFF}</p>
  </div>
</footer>
